<%- include('partials/header.ejs'); %>
<h1>Some results</h1>
<div class="ui grid">
    <div class="eleven wide column">
        <table class="ui celled structured table">
            <thead>
                <tr>
                    <th colspan="2">Greek God Brief</th>
                    <th style="width: 60px;">US</th>
                    <th style="width: 60px;">UK</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>K208</td>
                    <td>Red/S</td>
                    <td>
                        <div class="ui input">
                            <input style="width: 50px;" type="text" placeholder="1">
                        </div>
                    </td>
                    <td>
                        <div class="ui input">
                            <input style="width: 50px;" type="text" placeholder="2">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<%- include('partials/footer.ejs'); %>